body {
  /* margin: 0;
  padding: 20px 0 0 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background {
  position: fixed;
  top: -300px;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scroll {
  overflow: auto;
}
.red {
  color: red;
}
.clickable {
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login {
  padding: 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
}

.adjust {
  display: table;
  margin: 0;
}

.registrar {
  padding: 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
}

.models {
  width: 50%;
}
.units {
  width: 100%;
}
.expenses {
  width: 80%;
}

.units--form {
  width: 80%;
}

.center-children {
  text-align: center;
}

.center-me {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.btn-center {
  display: block;
  width: 150px;
}

.label {
  z-index: 1000;
}
.opacity {
  opacity: 0.5;
}

.gray {
  border: 1px gray solid;
}
.blue {
  border: 1px blue solid;
}
